<div class="container">
    <h2>Log In</h2>
    <form #f="ngForm" action="" (ngSubmit)="logIn(f)">
        
        <input ngModel name="email" #email="ngModel" type="email" class="form-control" placeholder="Email" required email>
        <div class="alert alert-danger" *ngIf="email.touched && email.errors?.required">Email is required</div>
        <div class="alert alert-danger" *ngIf="email.touched && email.errors?.email">Email doesn't match email format</div>

        <input ngModel name="password" #password="ngModel" type="password" class="form-control" placeholder="Password" required minlength="6">
        <div class="alert alert-danger" *ngIf="password.touched && password.errors?.required">password is required</div>
        <div class="alert alert-danger" *ngIf="password.touched && password.errors?.minlength">Password must be more than or equal 6 charachters</div>

        <button class="btn btn-primary" [disabled]="f.invalid">Login</button>

    </form>
</div>